{
  "arrowParens": "avoid",
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "semi": true,
  "proseWrap": "always",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles/global.css",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
