---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Projects from "@/components/Projects.astro"
---

<BaseLayout title="Projects | Stas' Portfolio">
  <section class="py-24">
    <div class="container max-w-4xl">
      <Projects />
    </div>
  </section>
</BaseLayout>
