---
import Tags from "@/components/Tags.astro"

const skills = [
  "c",
  "cpp",
  "java",
  "csharp",
  "python",
  "go",
  "haskell",
  "html",
  "css",
  "javascript",
  "typescript",
  "react",
  "next-js",
  "android",
  "dotnet-framework",
  "spring-boot",
  "express-js",
  "git",
  "github",
  "tailwind-css",
  "shadcn-ui",
  "mysql",
  "websocket",
  "android-studio",
  "webrtc",
  "stripe",
  "monaco-editor",
]
---

<section id="skills" class="relative isolate m-auto max-w-3xl scroll-mt-32 pb-32">
  <h1 class="title">Skills</h1>
  <Tags tags={skills} class="mx-auto mt-3 max-w-3xl justify-center" />
</section>
