---
import TagBadge from "@/components/TagBadge.astro"
import { cn } from "@/lib/utils"

interface Props {
  tags: string[]
  class?: string
}

const { tags, class: className = "" } = Astro.props
---

<div class={cn("flex flex-row flex-wrap gap-1", className)}>
  {tags.map((tag) => <TagBadge tag={tag} />)}
</div>
