---
import type { HTMLAttributes } from "astro/types"
import type { BadgeVariantProps } from "@/lib/ui"
import { badgeVariants } from "@/lib/ui"
import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"span"> & BadgeVariantProps

const { variant, class: className, ...attrs } = Astro.props
---

<span class={cn(badgeVariants({ variant }), className)} {...attrs}>
  <slot />
</span>
