---
import type { HTMLAttributes } from "astro/types"
import type { ButtonVariantProps } from "@/lib/ui"
import { buttonVariants } from "@/lib/ui"
import { cn } from "@/lib/utils"

type Props = HTMLAttributes<"a"> &
  HTMLAttributes<"button"> &
  ButtonVariantProps & {
    href?: string
  }

const { variant, size, class: className, href, ...attrs } = Astro.props
const classes = cn(buttonVariants({ variant, size }), className)
---

{
  href ? (
    <a href={href} class={classes} {...attrs}>
      <slot />
    </a>
  ) : (
    <button class={classes} {...attrs}>
      <slot />
    </button>
  )
}
